#BackCircle {
    background: #f2f2e8;
    position: absolute;
    top: 200px;
    right: 0;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    filter: blur(600px);
    z-index: -20;
}

#BackBlack {
    background: #1e1e1e;
    position: absolute;
    top: 0;
    right: 0;
    height: 475px;
    width: 100%;
    z-index: -10;
    box-shadow: white 0 0 0 1px;
}

#artistImage{
    position: absolute;
    z-index: -1;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
}

#ArtistName{
    padding-top: 240px;
    font-size: 80px;
    letter-spacing: .8rem;
}

#ArtistName::first-letter{
    color: #e7580a;
    font-size: 100px;
}

#ArtistPage {
    top: 60px;
    padding-top: 100px;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.DateCardImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.DateCardFilter {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: inset 5px 0 50px #1e1e1e;
    transition: .5s;
}

.DateCard:hover .DateCardFilter {
    box-shadow: inset 5px 0 20px #1e1e1e;
    cursor: pointer;
}

.DateCard {
    position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    background: #1e1e1eee;
    border-radius: 20px;
    display: flex;
}

.DateCardLocation {
    position: absolute;
    font-size: 30px;
    left: 5px;
    transition: .5s;
}

.DateCard:hover .DateCardLocation {
    transform: translate(15%, 0);
    cursor: pointer;
    transition: 1s;
}

.DateCard:hover .DateCardDate{
    transform: translate(-20%, 0);
    scale: 1.2;
    cursor: pointer;
    transition: 1s;
}

.DateCardDate{
    position: absolute;
    font-size: 22px;
    top: 50%;
    left: 30%;
    transition: .5s;
}

#members-list {
    font-size: 20px;
}

#members-list span {
    display: block;
}

#members-list span::first-letter {
    color: #e7580a;
}