.btnLogin-popup {
    position: absolute;
    margin-top: 12px;
    right: 50px;
    height: 35px;
    width: 80px;
    border: solid white 2px;
    border-radius: 5px;
    background: #00000000;
    align-items: center;
    justify-content: center;
    transition: .5s;
    display: flex;
}

.btnLogin-popup:hover {
    cursor: pointer;
    background: #ffffff80;
}

.wrapper {
    position: absolute;
    width: 400px;
    height: 440px;
    top: 180px;
    right: 50px;
    background: transparent;
    border : 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 0 30px #1e1e1e50;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform : scale(0);
    transition: transform .5s ease;
    z-index: 100;
}

.wrapper.active-popup {
    transform : scale(1);
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .5s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    /* padding-inline: 20px; */
    position: absolute;
    transition: none;
    transform: translateX(400px);
    padding: 40px;
}

.form-box.register {}

.wrapper.active .form-box.register {
    transition: transform .5s ease;
    transform: translateX(0);
}

.icon-close {
    position: fixed;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    cursor: pointer;
    transition: .5s;
    transform : scale(0);
}

.icon-close.active {
    transform : scale(1);
}

.form-box h2 {
    font-size: 2em;
    color: #fafafa;
    text-align: center;
}

.input-box{
    display: flex;
    position: relative;
    width: 80%;
    height: 51px;
    border-bottom: 2px solid #1e1e1e;
    margin: 30px 0;
    margin-inline: AUTO;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:  #fafafa;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #1e1e1e;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #e7580a;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 5px;
}

.login-register {
    font-size: .9em;
    color: #1e1e1e;
    text-align: center;
    font-weight: 500;
    margin : 25px 0 10px;
}

.login-register a {
    color: #e7580a;
    text-decoration: none;
    font-weight: 600;
}

.login-register a:hover {
    text-decoration: underline;
}

#user-info {
    position: absolute;
    top: 10px;
    right: 50px;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition: .5s;
    display: flex;
}

#user-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#username::first-letter {
    color: #e7580a;
}