
#home {
    height: 82vh;
}

#mainTitleSection{
    border: dot-dash red 5px;
    position: absolute;
    top: 180px;
    left: 100px;
}

#mainTitleSection .Title1{
    font-size: 80px;
}

#mainTitleSection .Title1 span {
    display: inline-block;
}

#mainTitleSection .Title1 span::first-letter {
    color: #e7580a;
}

#mainTitleSection p{
    margin-top: 20px;
    font-size: 15px;
    letter-spacing: 1px;
}

#searchBarSection{
    position: absolute;
    top: 90px;
    right: 70px;
}

.Title2{
    padding-top: 60px;
    font-size: 40px;
    letter-spacing: .5rem;
}

.Title2::first-letter{
    color: #e7580a;
}

.line{
    margin-bottom: 20px;
    height: 2.5px;
    width: 300px;
    background-color: white;
}

.Title3{
    padding-top: 60px;
    font-size: 30px;
    letter-spacing: .5rem;
}

.Title3::first-letter{
    color: #e7580a;
    font-size: 35px;
}

section {
    padding: 0 5vw 0 5vw;
}